.swiper2 {
  width: 240px;
  height: 320px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-slide:nth-child(1n) {
  background-color: gray;
}

.swiper-slide:nth-child(2n) {
  background-color: gray;
}

.swiper-slide:nth-child(3n) {
  background-color: gray;
}

.swiper-slide:nth-child(4n) {
  background-color: gray;
}

.swiper-slide:nth-child(5n) {
  background-color: gray;
}

.skillcard {
  background-color: white;
  width: 33%;
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  border: 8px solid gray;
  height: 5%;
  font-size: 0.9rem;
  margin-bottom: 1%;
  padding-bottom: 0%;
  border-radius: 3%;
}
#bordo {
  background-color: rgba(155, 30, 30, 1);
}
#rojo {
  background-color: red;
}
#henry {
  background-color: black;
  color: yellow;
}
#gris {
  background-color: rgb(80, 80, 80);
}
#verde {
  background-color: rgb(211, 211, 42);
  color: black
}
@media(max-width: 912px){
  .skillcard {
    width: 90%;
  }
}
@media(max-width: 300px){
  .swiper-slide {
    width: 30%;
  }
  .swiper{
    width: 85%;
  }
}